/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background:#ECFDF5;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Tira estilos padrões de botões, inputs etc */
button, input, textarea {
  border: none;
  outline: none;
  font: inherit;
}

/* Remove decoração padrão dos links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove bullets das listas */
ul, ol {
  list-style: none;
}

/* Suaviza fontes */
html {
  scroll-behavior: smooth;
}

/* TUAS VARIÁVEIS */
:root {
  --cor-principal: #047857;;
  --cor-secundaria: #ECFDF5;
  --fonte: "Poppins", sans-serif;
  --green-hover: #09946d;
  --esmerald-900:#064e3b;
  --green-border:#A7F3D0;
  --esmerald-fundos:#D1FAE5;
  --esmerald-bordas:#D1FAE5;
  --grey-sombras: rgb(192, 191, 191);
  --white:#fff;
  --red-hover:rgba(247, 48, 48, 0.842);
  --red-fundo:rgb(255,0,0);
}
