.rodape{
    width: inherit;
    border-top: 1px solid var(--green-border);
}
.rodape__text{
    display: flex;
    width: inherit;
    justify-content: space-between;
    color: var(--cor-principal);
    padding: 0.9rem;
}