.cabecalho{
    display: flex;
    background: #047857;
    color: #fff;
    padding: 0.7rem;
    margin-left: 0 auto;
    margin-right: 0 auto;
    justify-content: space-between;
}
.logo{
    display: flex;
    height: 4rem;
    justify-content:flex-start;
}
.logo__letra{
    background:#064e3b ;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 9px;
    font-weight: bold;
    font-size: 1.5rem;
}
.logo__text{
    display: flex;
    flex-direction: column;
    line-height:1rem;
    padding: 0.4rem;
    margin-left: 1rem;
    justify-content: center;
}
.search{
    display: flex;
    align-items: center;
    padding: 0.3rem;
    justify-content: center;
}

.search__inp{
    border: none;
    width: 25rem;
    padding: 0.4rem;
    background: transparent;
    border-radius: 9px;
    color: #fff;
    justify-content: center;
    outline: none;
}
.links{
    display: flex;
    align-items: center;
}

.links ul{
    display: flex;
    list-style: none;

}
.links ul li{
    padding: 0.5rem;
}
.links ul li a{
    text-decoration: none;
    color: #fff;
}

.links__btn--entrar{
    border: 1px solid #A7F3D0;
    border-radius: 6px;
}