.login{
    display: flex;
    align-items: center;
     justify-content: center;
    justify-items: center;
    width: inherit;
    height: 20rem;
}
.login__card{
    display: flex;
    flex-direction: column;
    padding: 0.9rem;
    background: #fff;
    border-radius: 7px;
    width: 35%;
    box-shadow: 1px 1px 1px 1px  rgb(192, 191, 191);
}

.login__input--text{
    border: 1px solid #A7F3D0;
    padding: 0.5rem;
    border-radius: 4px;
    margin-bottom: 0.9rem;
}
.login__card--btns{
    display: flex;
    justify-content: space-between;
}

.login__card--btn{
    border-radius: 3px;
    padding: 0.8rem;
    cursor: pointer;
}
#login__card--btn-Entrar{
    background: var(--cor-principal);
    color: #fff;
}
#login__card--btn-Entrar:hover{
    background: var(--green-hover);
}
#login__card--btn-Voltar{
    border: 1px solid #A7F3D0;
    background: transparent;
}
#login__card--btn-Voltar:hover{
    background: var(--green-border);
}