.adicionarLivro{
    display: flex;
    flex-direction: column;
    width: 84%;
    padding: 1.3rem;
    background: #fff;
    box-shadow: 1px 1px 1px 1px  rgb(192, 191, 191);
    border-radius: 7px;
    margin-left: 2rem;
}

.adicionar__form{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.adicionar__form--titulo{
    margin-bottom:1.3rem;
}

.adicionar__form--input{
    border: 1px solid #A7F3D0; 
    border-radius: 5px;
    margin-bottom: 1.3rem;
    padding: 0.4rem;
    background: transparent;
}

.adicionar__form--btns{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.adicionar__form--btns input{
    border: 1px solid #A7F3D0; 
    border-radius: 5px;
    padding: 0.4rem;
    cursor: pointer;
}
#adicionar__form--btn_salvar{
    background: #047857;
}
#adicionar__form--btn_cancelar{
    background: transparent;
}