.gerirLivros{
    display: none;
    flex-direction: column;
    width: 84%;
    padding: 1.3rem;
    background: var(--white);
    box-shadow: 1px 1px 1px 1px  var(--grey-sombras);
    border-radius: 7px;
    margin-left: 2rem;
}
.gerirLivros__header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: flex-start;
}
.gerirLivros__header a{
    background:var(--cor-principal);
    border-radius: 6px;
    padding: 0.6rem;
    color: var(--white);
}

.gerirLivros__header a:hover{
    background: var(--green-hover);
}

.gerirLivros__table{
    width: 100%;
}
.table__header tr td{
    border-bottom: 1px solid var(--green-border); 
}
.table__linhas td{
    border-bottom: 1px solid var(--green-border);
    padding: 0.5rem;
}
.table__td{
    display: flex;
    gap: 1.4rem;
    align-items: flex-start;
}
.table__td a{
    padding: 0.5rem;
    border: 1px solid var(--green-border);
    border-radius: 6px;
}
.table__td a:hover{
    background: var(--green-border);
}
.table__td input{
    padding: 0.5rem;
    border-radius: 6px;
    background: var(--red-fundo);
    color: var(--white);
    cursor: pointer;
}
.table__td input:hover{
    background-color:var(--red-hover);
}