.gerirLivros{
    display: none;
    flex-direction: column;
    width: 84%;
    padding: 1.3rem;
    background: #fff;
    box-shadow: 1px 1px 1px 1px  rgb(192, 191, 191);
    border-radius: 7px;
    margin-left: 2rem;
}
.gerirLivros__header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: flex-start;
}
.gerirLivros__header a{
    background: #047857;
    border-radius: 6px;
    padding: 0.6rem;
    color: #fff;
}
.gerirLivros__table{
    width: 100%;
}
.table__header tr td{
    border-bottom: 1px solid #A7F3D0; 
}
.table__linhas td{
    border-bottom: 1px solid #A7F3D0;
    padding: 0.5rem;
}
.table__td{
    display: flex;
    gap: 1.4rem;
    align-items: flex-start;
}
.table__td a{
    padding: 0.5rem;
    border: 1px solid #A7F3D0;
    border-radius: 6px;
}
.table__td input{
    padding: 0.5rem;
    border-radius: 6px;
    background: red;
    color: #fff;
    cursor: pointer;
}
.table__td input:hover{
    background-color:rgba(247, 48, 48, 0.842) ;
}