.cabecalho{
    display: flex;
    background: var(--cor-principal);
    color: var(--white);
    padding: 0.7rem;
    margin-left: 0 auto;
    margin-right: 0 auto;
    justify-content: space-between;
    position:sticky ;
    top: 0;
    z-index: 100;
    margin-bottom: 2rem;
}
.logo{
    display: flex;
    height: 4rem;
    justify-content:flex-start;
}
.logo__letra{
    background:var(--esmerald-900) ;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 9px;
    font-weight: bold;
    font-size: 1.5rem;
}
.logo__text{
    display: flex;
    flex-direction: column;
    line-height:1rem;
    padding: 0.4rem;
    margin-left: 1rem;
    justify-content: center;
}
.search{
    display: flex;
    align-items: center;
    padding: 0.3rem;
    justify-content: center;
}

.search__inp{
    border: none;
    width: 25rem;
    padding: 0.4rem;
    background: transparent;
    border-radius: 9px;
    color: var(--white);
    justify-content: center;
    outline: none;
}
.nav{
    align-items: center;
}
.nav a{
    align-items: center;
    color: #f6f8f0;
}
.nav button {
    border: none;
    color: #f6f8f0;
}
.nav button svg{
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .5rem;
}

@media (min-width: 768px) {
    .nav {
        display: flex;
    }
}