.main{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.3rem;
    align-items: flex-start;
}
.painel{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 16rem;
    box-shadow: 1px 1px 1px 1px  rgb(192, 191, 191);
    padding: 0.9rem;
    background: #fff;
    border-radius: 5px;
}
.painel__titulo{
    color: #047857;
    margin-bottom: 1rem;
}
.painel__menu{
    display: flex;
    flex-direction: column;
    line-height: 1.8rem;
}
.painel__rodape{
    display: flex;
    align-items: center;
    color: red;
    justify-content: center;
    padding: 0.4rem;
    margin-top: 0.9rem;
}