.main{
    display: flex;
    width: 100%;
    justify-content:center;
    padding: 1.3rem;
    align-items: flex-start;
}
.painel{
    display: none;
    flex-direction: column;
    width: 15%;
    height: 16rem;
    box-shadow: 1px 1px 1px 1px  var(--grey-sombras);
    padding: 0.9rem;
    background: var(--white);
    border-radius: 5px;
}
.painel__titulo{
    color: var(--cor-principal);
    margin-bottom: 1rem;
}
.painel__menu{
    display: flex;
    flex-direction: column;
    line-height: 1.8rem;
}
.painel__menu a{
    cursor: pointer;
}
.painel__menu li:hover{
    background: var(--esmerald-fundos);
    font-size: 1.2rem;
    border-radius: 4px;
    padding: 0.5rem;
    width: 100%;
}
.painel__rodape{
    display: flex;
    align-items: center;
    color: red;
    justify-content: center;
    padding: 0.4rem;
    margin-top: 0.9rem;
}
.painel__rodape:hover{
    background: rgb(228, 227, 227);
    border-radius: 3px;
}