.main{
    display: flex;
    width: 100%;
    justify-content:space-between;
    padding: 1.3rem;
    align-items: flex-start;
}
.painel{
    display: flex;
    flex-direction: column;
    width:25% ;
    box-shadow: 1px 1px 1px 1px  var(--grey-sombras);
    padding: 0.9rem;
    background: var(--white);
    border-radius: 5px;
    padding:2rem;
    box-shadow: 0 2px 4px rgba(45, 90, 61, 0.08);
}
.painel__titulo{
    color: var(--cor-principal);
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.4;
    font-family: Crimson Text, serif;
    font-weight: 600;
    color:#1a1a1a ;
}
.painel__card--input{
    display:flex;
    padding: .6rem;
    border: 1px solid rgba(45, 90, 61, 0.08);
    border-radius: 5px;
    transition:  outline 0.2s ease;
}
.painel__card--input_icon{
    display: flex;
    justify-content: center;
    padding: .5rem;
}
.painel__card--input_icon svg{
    width: 1.25rem;
    height: 1.25rem;
    color:#4a4a4a;
}

.painel__card--input input{
    width: 100%;
}

.painel__card--input:focus-within{
        outline: 3px solid #c4302b;
        outline-offset: 2px;
        border: 1px solid #c4302b;
        /*box-shadow: 0 0 0 3px #c4302b;*/
}
