.main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: inherit;
    padding: 0.9rem;
}
.main__categoria{
    display: flex;
    width: 15%;
    height: 20rem;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px var(--grey-sombras);
    padding: 0.9rem;
}
.main__categoria--card{
    display: flex;
    flex-direction: column;
    color: var(--cor-principal);
    line-height: 1.8rem;
    overflow-y: scroll;
    width: 100%;
}
.main__categoria--card ul li:hover{
    background: var(--esmerald-fundos);
    font-size: 1.2rem;
    border-radius: 4px;
    padding: 0.5rem;
    width: 95%;
}
.main__destaque{
    display: flex;
    padding: 0.3rem;
    width: 85%;
    margin-left: 1.5rem;
    flex-direction: column;
}
.main_destaque--titulo{
    color: var(--cor-principal);
}
.main__destaque--cards{
    display: flex;
    gap: 2.5rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 0.9rem;
}
.main__destaque--card{
    display: flex;
    flex-direction: column;
    background:var(--white);
    border-radius: 9px;
    box-shadow: 1px 1px 1px 1px var(--grey-sombras);
    padding: 0.9rem;
    width: 20%;
    height: 23rem;
}
.main__destaque--card:hover{
    transform: translate(-.9rem, -.9rem);
    transition: .20s;
    box-shadow: 0 4px 4px 4px var(--grey-sombras);
}
.main__destaque--card_capa{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
.main__destaque--card_capa img{
    width: inherit;
    height: inherit;
}
.main__destaque--card_detalhes{
    display: flex;
    flex-direction: column;
    color: var(--cor-principal);
    line-height: 2rem;
}
.card__detalhes--rodape{
    display: flex;
    justify-content: space-between;
    height: 29%;
    padding: 0.3rem;
    align-items: center;
    
}
.card__detalhes--rodape_btn{
    background-color: var(--cor-principal);
    padding: 0.3rem;
    border-radius: 6px;
    width: 2.5rem;
   color: var(--white);
   cursor: pointer;
}
.card__detalhes--rodape_btn:hover{
    background: var(--green-hover);
}
