.main{
    display: flex;
    width: inherit;
    justify-content: center;
    align-items: center;
    height: 15rem;
}
.main__card{
    display: flex;
    flex-direction: column;
    background:var(--white);
    box-shadow: 1px 1px 1px 1px var(--grey-sombras);
    width: 90%;
    margin: auto;
    padding: 1.5rem;
    border-radius: 5px;
    line-height: 2rem;
}
.main__card--text{
    color: var(--cor-principal);
}